* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    /* background-color: crimson; */
    background: rgb(19, 75, 52);
    background: linear-gradient(to top right, rgba(19, 75, 52, 1) 0%, rgba(19, 22, 64, 1) 100%);
}

nav {
    height: 100px;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
}

.left-nav {
    height: 100%;
    width: 20%;
    /* background-color: crimson; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 2vw;
}

.left-nav h1 {
    color: #fff;
    font-size: 1.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.mid-nav {
    height: 100%;
    width: 50%;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2vw;
    position: relative;
}

.mid-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1vw;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 1vw;
}

.border {
    position: absolute;
    height: 60%;
    width: 100%;
    border-left: 1px solid #909090;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-nav {
    height: 100%;
    width: 30%;
    /* background-color: deepskyblue; */
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.right-nav button {
    padding: .6vw 1vw;
    margin: 0 1vw;
    border-radius: 5px;
}

.signup {
    border: 2px solid white;
    background-color: transparent;
    font-size: .9vw;
    color: white;
    font-weight: 600;
}

.sales {
    border: none;
    background-color: blue;
    color: white;
    font-size: .9vw;
    font-weight: 600;
}


.menubutton {
    display: none;
}



@media (min-width: 1px) and (max-width: 425px) {
    nav {
        height: 80px;
        /* background-color: crimson; */
    }

    .mid-nav {
        display: none;
    }

    .right-nav {
        display: none;
    }

    .left-nav {
        width: 70%;
        /* background-color: gray; */
        justify-content: flex-start;
        padding: 0 2vh;
    }

    .left-nav h1 {
        font-size: 2.5vh;
        border-left: 2px solid #fff;
        padding: 0 1.5vh;
    }

    .menubutton {
        display: block;
        height: 100%;
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 2vh;
        /* background-color: slateblue; */
    }

    .menubutton i {
        font-size: 2.5vh;
        color: white;
    }

    .dropdown {
        display: block;
        height: fit-content;
        width: 100%;
        /* background-color: crimson; */
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .dropdown a {
        font-size: 2vh;
        margin: 2vh;
    }
}